* {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
menu {
    width: 20em;
    border: 0px solid #000;
    float: left;
    width: 15%;
    max-width: 15%;
    margin: 0px;
    padding: 0px;
}


menu article div {
    font-size: .8em;
}
main {
    border: 0px solid #00f;
    float: left;
    width: 80%;
    max-width: 80%;
    margin: 0px;
    margin-left: 1%;
}

footer {
    clear: both;
    border: 0px solid #f00;
}

header {
    border: 0px solid #0f0;
}



.recurso {
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid rgb(31, 13, 187);
    background-color: rgba(193, 193, 247,0.5);
}

.mensaje-error {
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #f00;
    background-color: #fdd;
}

menu h4 {
    margin-bottom: 0px;
}

menu article {
    margin: 0px;
    padding: 0px;
}
