#sidebar{
    width: 20em;
    border: 0px solid #000;
    padding-left: 1em;
}

#main {
    border: 0px solid #00f;
    margin-left: 20em;
}


.recurso {
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #f00;
    background-color: #fdd;
}